.contactbody {
    text-align: center;
}

.emailsection {
    background-color: rgb(241, 241, 241);
    padding: 8px;
}

.githubsection {
    background-color: rgb(241, 241, 241);
    padding: 8px;
}

.aboutstage {

    justify-content: center;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 3vw;
    padding-bottom: 3vh;
    min-height: 35vh;
    
    
}

.columncontainer {
    display: flex;
    margin: auto;
    padding: auto;

}
.spacing {
    width: 100vw;
    height: 5vh;
}

.column {
    flex: 50%;
    padding: auto;
    text-align: center;
    
    float: center;

}