.deskentry {
    justify-content: center;

}

.hometitle {
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    text-align: center;
    padding-top: 30vh;

}

.titlename {
    font-size: 10vmin;
 
    
}

.entrytitle {
    text-decoration: none;
    color: black;
}