@import url("https://fonts.googleapis.com/css?family=Roboto:700");

body {
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
    
} 
-webkit-scrollbar {
    display: none;
  }

  
p {
    line-height: 1.2;
    font-size: 1.25rem;
  }


div {
    word-wrap: break-word;
}
