.linkLayout {
    margin-right: 3rem;
    display: inline-block;
}

.nameLayout {
    text-decoration: none;
    color: white;

}
.tabs {
    color: white;

}

.tabs::selection {
    color: pink;

}

.banner {
    background-color: black;
}