
.linkLayout {
    margin-right: 3rem;
    display: inline-block;
}

.nameLayout {
    text-decoration: none;
    color: white;
    font-size: 26px;
    

}
.nameLayout:hover {
    text-decoration: none;
    color: white;
}

.tabs {
    color: white;

}
.tabs:current {
    color: pink;

}

.pagetabs {
    float: right;
    list-style: none;
    margin-top: 0.3rem;
}

.banner {
    background-color: black;
    display: block;
    box-sizing: inherit;
    margin: 0 0 auto;
    margin-left: auto;
    margin-right: auto;
}