
.linkLayout {
    margin-right: 3rem;
    display: inline-block;
}

.nameLayout {
    text-decoration: none;
    color: white;
    font-size: 32px;
    margin-left: 2vmin;
    margin-top: 2vmin;

}
.nameLayout:hover {
    text-decoration: none;
    color: white;
}

.tabs {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 200ms;

}
.tabs:hover {
    
}


.pagetabs {
    
    float: right;
    list-style: none;
    margin-top: 0.3rem;
    background-color: black;
}

.banner {
    background-color: black;
    display: block;
    box-sizing: inherit;
    margin: 0 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 7vh;
}

.entiredesk {
    margin: 0px;
}

.activeLink {
    color: white;
    text-decoration: none;
    font-size: 22px;
    
}

.footer {
    position: fixed;
    bottom: 0;
}